* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
      display: grid;
      grid-template-rows: auto 1fr auto;
      min-height: 100vh;;
  }  
  main {
    padding: 2rem 10rem;
    background: radial-gradient(circle, #4c15c2 0%, #0b9eb3 100%);        
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  .juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .juegos .juego {
    z-index: 2;
    width: 14rem;
    position: relative;
    margin: 1rem;
  }
  .juegos .juego::before {
    z-index: 1;
    content: "";
    width: 104%;
    height: 103%;
    position: absolute;
    z-index: -2;
    background: white;
    top: -1.5%;
    left: -2%;
    border-radius: 0.3rem;
    opacity: 0.7;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
  }
  .juegos .juego .imagen {
    width: 14rem;
    position: relative;
  }
  .juegos .juego .imagen img {
    border-radius: 0.5rem;
  }
  .juegos .juego .imagen .precio {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    padding: 0.3rem;
  }
  .juegos .juego .imagen .precio p {
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25),2px 2px 2px rgba(0,0,0,1);
  }
  .juegos .juego .imagen .descuento {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .juegos .juego .imagen .descuento .contenedor {
    position: absolute;
    background: #ce2626;
    text-align: center;
    width: 150%;
    padding: 0.3rem 0;
    transform: rotate(45deg) translateY(-15px);
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.4),0 0 2px 1px rgba(0,0,0,0.3);
  }
  .juegos .juego .imagen .descuento .contenedor p {
    font-size: 1.25rem;
    color: white;
  }
  .juegos .juego .texto {
    padding: 0.3rem 0;
    text-align: center;
  }
  .juegos .juego .texto h1 {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .juegos .juego .boton button {
    color: white;
    border-radius: 5px;    
    cursor: pointer;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);    
    padding: 0.3rem 0;
    width: 100%;
    font-size: 1rem;
    border: none;
    background: linear-gradient(135deg, #d6991d 0%, #dd1818 49%);
  }
  .carrito{
    margin: 0.3rem 0rem;    
  }
  .carrito .titulo h1{    
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  }
  .venta{
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
  }
  .ventaJuego{
    display: flex;
    justify-content: flex-end;    
    align-items: center;
    margin: 0.5rem 0;
  }
  .ventaNombre{    
    width: 300px;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  .ventaPrecio{
    width: 100px;
    font-size: 1.5rem;
  }
  .eliminar{
    padding: 0.3rem 1rem;
    border: none;
    font-size: 1.3rem;
    background-color: rgb(219, 35, 35);
    color: white;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px 1px rgba(255, 255, 255, 0.295),1px 1px 2px 1px rgba(0, 0, 0, 0.205), 2px 2px 2px 2px rgba(0, 0, 0, 0.123);
  }
  .total{
    margin-top: 1rem;
    margin-right: 172px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
  }
  .total h1{
    font-size: 1.75rem;
    margin-right: 2rem;
  }
  .total p{
    font-size: 1.5rem;
  }